flask
pymongo
python-dotenv
flask-jwt-extended
bcrypt
flask-cors
python-multipart
PyMuPDF
sendgrid
flask
flask-jwt-extended
pymongo
pandas
numpy
scikit-learn
SpeechRecognition
#PyAudio
pydub
fpdf
openai
pdfplumber 
google-generativeai 
fastapi 
uvicorn
timeout-decorator
Pillow
dotenv
pymongo
PyAudio
fipz